@charset"utf-8";

/*-------

リセットcss

---------*/
*{
    padding: 0;
    margin: 0;

}
a{
    color: var(--primary-color);
    text-decoration:none;
}
ul{
    list-style-type: none;
}
/*---------

共通部分

----------*/
:root{
    --primary-color:#333;
    --secondary-color:#F7F0D8;
    --background-color: #fff;

    --base-padding:30px;
    --base-margin:20px;

}
body{
    color: var(--primary-color);
    background-color: var(--background-color);
 }
 .container{
    max-width: 900px;
    margin: 0 auto;
    height: 100%;
}
h2{
    font-size: clamp(22px,3.2vw,36px);
    margin-bottom: var(--base-margin);
}
/*-----------

ヘッダー

------------*/
header{
    padding: var(--base-padding);
    text-align: center;
}
header h1{
    font-size: clamp(28px,6vw,70PX);
    margin-bottom: var(--base-margin);
}
header nav ul{
    display: flex;
    justify-content: space-around;
}

